<!doctype html>

<html ng-app="github-api">
<head>
  <meta charset="utf-8">
  <title>Github-API</title>
</head>
<div>
    <body ng-controller="GitHubController"
    <input ng-click='getUserData'/>
    <input ng-type='submit'</input>
           <button type='button'>Submit</button>
     
    <input ng-model='searchText'/>
    <div> Username: {{user.login}}</div>
    <div>Name:{{user.name}}</div>
    <div> Public Repos: {{user.public_repos}}</div>
    </div>
    	
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
<script src="app.js"></script>
<script src="controller.js"></script>
<script src="service.js"></script>
    </body>
</head>